@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Kalam&family=Source+Sans+3:wght@300&family=Zeyada&display=swap');

body, html, content, h5 {
  height: 100%;
  font-family: "Source Sans 3", sans-serif;
  font-size: medium;
}

.mainbgimg {
  background-position:top;
  background:#5ea5de;
  min-height: 50%;
}

.bgimg {
  background-position:top;
  background:#9ec3e2;
;
  min-height: 7%;
}

.gnav{
  font-size:medium;
  background:#102034;
  color:white;
}

#container {
  margin: auto;
  background:#9ec3e2;
  color: white;
}

.fmp {
  position: relative;
  padding: 20px;
  background-color: #FFC2D1;
  box-shadow: 5px 5px #9b95a3e5;
  border: none;
  font-family: 'Urbanist', sans-serif;
}

.menu {
  display: none;
}

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 20ch;
  animation: typing 2s steps(30);
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Bad Script', cursive;
}

@keyframes typing {
  from {
    width: 0
  }
}

.notesimg {
  position:relative;
  margin: 10px;
}

.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
}

.accordion label {
  display: block;
}

.accordion {
  margin-bottom: 1em;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  padding: 15px;
  border: 1px solid #ededed;
  border-top: 0;
}

.accordion .handle {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.2em;
}

.accordion label {
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  font-family: "Inconsolata", sans-serif;
  background: #5a83a4ef;
  color: white;
}

.accordion label:hover,
.accordion label:focus {
  background: #b1d0e9;
  color: #383b3d;
}

.accordion .handle label:before {
  content: "\f054";
  display: inline-block;
  margin-right: 10px;
  font-size: .58em;
  line-height: 1.556em;
  vertical-align: middle;
  font-family: "Inconsolata", sans-serif;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
  content: "\f078";
}

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
